# BrowserStack Cloud Credentials
BROWSERSTACK_USERNAME=your_browserstack_username
BROWSERSTACK_ACCESS_KEY=your_browserstack_access_key

# Execution Target & Mode
BASE_URL=https://bugbash.online
RUN_ON_BSTACK=true

# Project & Build Metadata
BSTACK_PROJECT_NAME=AlphaBugs
BSTACK_BUILD_NAME=AlphaBugs Testathon E2E Suite
BSTACK_PLATFORM=chrome_win11
